# Forzar el tipo MIME correcto para archivos JavaScript y TypeScript
<FilesMatch "\.(js|jsx|ts|tsx)$">
    AddType application/javascript .js .jsx .ts .tsx
</FilesMatch>

# Redirigir todas las solicitudes a index.html (para SPA)
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>